<block-ui>
	<div (click)="onLayoutClick()"
		 [ngClass]="{ 'layout-compact': layoutCompact }"
		 class="layout-wrapper">
		<div #layoutContainer
			 [ngClass]="{
            'menu-layout-static': !menuService.isOverlay(),
            'menu-layout-overlay': menuService.isOverlay(),
            'layout-menu-overlay-active': menuService.overlayMenuActive,
            'menu-layout-horizontal': menuService.isHorizontal(),
            'menu-layout-slim': menuService.isSlim(),
            'layout-menu-static-inactive': menuService.staticMenuDesktopInactive,
            'layout-menu-static-active': menuService.staticMenuMobileActive
        }"
			 class="layout-container">
			<app-topbar></app-topbar>

			<div (click)="onMenuClick($event)" [ngClass]="{ 'layout-menu-dark': darkMenu }" class="layout-menu">
				<p-scrollPanel #scrollPanel [style]="{ height: '100%' }">
					<app-menu></app-menu>
				</p-scrollPanel>
			</div>

			<div class="layout-main">
				<breadcrumb></breadcrumb>
				<div class="layout-content">
					<router-outlet></router-outlet>
					<app-footer></app-footer>
				</div>
			</div>
			<basis-page-notification></basis-page-notification>
			<div class="layout-mask"></div>
		</div>
	</div>
</block-ui>

<p-confirmDialog #cd class="cabecalho-dialog" header="Confirmation" icon="pi pi-exclamation-triangle icon-warning">
	<p-footer>
		<div class="ui-g ui-fluid">
			<div *ngIf="cd?.confirmation?.rejectVisible || cd?.confirmation?.rejectLabel"
				 class="ui-g-6 ui-sm-6 ui-g-offset-0 ui-sm-offset-0">
				<button (click)="cd.reject()" [label]="cd.confirmation.rejectLabel" class="ui-button-danger"
						icon="pi pi-times"
						pButton
						type="button"></button>
			</div>

			<div *ngIf="cd?.confirmation?.acceptVisible || cd?.confirmation?.acceptLabel"
				 [ngClass]="{'ui-g-offset-0': cd?.confirmation?.rejectVisible, 'ui-g-offset-6': !cd?.confirmation?.rejectVisible}"
				 class="ui-g-6 ui-sm-6 ui-sm-offset-0">
				<button (click)="cd.accept()" [label]="cd.confirmation.acceptLabel" icon="pi pi-check" pButton
						type="button"></button>
			</div>
		</div>
	</p-footer>
</p-confirmDialog>
